/* General styles */
.symbols {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #caa84e;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: #131722;
  }
  
  .symbols-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .symbols-subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .symbols-subtitle-2 {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .widgets-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1500px;
    gap: 2rem;
  }
  
  .tradingview-widget-wrapper {
    position: relative;
    width: 100%;
  }
  
  .market-data-widget {
    width: 55%;
    height: 1450px; /* Set a height to fit content */
    min-height: 400px; /* Set a minimum height */
  }
  
  .market-overview-widget {
    width: 45%;
    height: 1450px; /* Set a height to fit content */
    min-height: 400px; /* Set a minimum height */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .symbols-title {
      font-size: 2.5rem;
    }
  
    .symbols-subtitle {
      font-size: 1.2rem;
    }
  
    .symbols-subtitle-2 {
      font-size: 1rem;
    }
  
    .widgets-container {
      flex-direction: column;
      align-items: center;
    }
  
    .market-data-widget, .market-overview-widget {
      width: 100%;
      height: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .symbols-title {
      font-size: 2rem;
    }
  
    .symbols-subtitle {
      font-size: 1rem;
    }
  
    .symbols-subtitle-2 {
      font-size: 0.9rem;
    }
  
    .widgets-container {
      flex-direction: column;
      align-items: center;
    }
  
    .market-data-widget, .market-overview-widget {
      width: 100%;
      height: 500px;
    }
  }
  
  
  
  